*,
::before,
::after {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: auto;
}

.container {
  margin: 40px auto;
  margin-bottom: 5px;
  width: 600px;
  border: 1px solid #a8adb2;
  border-radius: 4px;
  padding: 12px;
}

footer {
  font-size: 12px;
  margin-top: 5px;
}

@media (max-width: 900px) {
  .container {
    margin: 30px auto;
    margin-bottom: 5px;
    max-width: 500px;
  }
}
