h1 {
  font-size: 54px;
  text-align: start;
  margin-top: 10px;
  margin-left: 10px;
  color: #32363a;
}

strong {
  color: #32363a;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

li {
  text-align: start;
  font-size: 24px;
  color: #97979a;
}

.inline {
  display: inline-block;
}

.icon-value {
  text-align: end;
}

.temperature-value {
  text-align: start;
}

.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }
  strong {
    font-size: 44px;
  }
  .units {
    top: -20px;
    font-size: 14px;
  }
  li {
    font-size: 20px;
  }
}
